#main {
    margin: 40px auto;
}

.modal {
    margin: 16% auto;
    display: none;
}

h3{
    text-align: center;
    margin: 4px 0px;
}

.innerModal {
    min-width: 150px;
    max-width: 300px;
    margin: auto;
    margin-top: 10px;
}

.fa-clipboard.fa-sm {
    float: right;
    cursor: pointer;
}

.innerDiv {
    min-width: 150px;
    max-width: 300px;
    margin: auto;
    margin-top: 10px;
}

textarea{
    padding: 8px 12px!important;
    box-shadow: 0px 0px 6px black!important;
    margin: 8px 0px!important;
    border-top-left-radius: 5px!important;
    border-top-right-radius: 5px!important;
}

#OrderNotes::-webkit-scrollbar,
#OrderNotes2::-webkit-scrollbar,#todoList::-webkit-scrollbar,.over::-webkit-scrollbar {
    display: none;
}

#todoList {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    height: 65vh;
    overflow: scroll;
}

.over{
    overflow: scroll;
}

.Card:hover{
    box-shadow: 0px 1px 4px black;
}

.py-3 {
    padding-top: 0.1rem !important;
    padding-bottom: 0.1rem !important;
}

@media only screen and (min-width:795px){
    #todoList{
        margin: 10px 120px;    

    }
    body{
        background:black
    }
    .Card:hover{
        box-shadow: 0px 8px 4px rgb(248, 174, 174) inset;
    }
    textarea{
        padding: 8px 14px!important;
        box-shadow: 0px 0px 6px black!important;
        margin:0px!important;
    }
    h3{
        color: white;
    }
    .fa-clipboard.fa-sm {
        color: aqua;
    }
}
